{% import "mixins/flash-messages.html" as FM %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ title|default("KeystoneTry") }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		{# Customise the stylesheet for your site by editing /public/styles/site.sass #}
		<link href="/css/site.css" rel="stylesheet">

		{# This file provides the default styling for the KeystoneJS Content Editor #}
		{% if user and user.canAccessKeystone %}
			<link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
		{% endif %}

		{# HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		   Safely remove this block if you are not targeting IE8 #}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		{# Include template-specific stylesheets by extending the css block #}
		{% block css %}{% endblock %}

		{# Add any other template-specific HEAD tags by extending the head block #}
		{% block head %}{% endblock %}
	</head>
	<body>

		{# HEADER #}

		<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
			<aside>
				<ul class="menu vertical" data-dropdown-menu>
					{% for link in navLinks %}
					<li class="{{ 'active' if link.key == section else '' }}">
						<a href="{{ link.href }}">{{ link.label }}</a>
					</li>
					{% endfor %}
				</ul>
			</aside>
		</div>
		<div class="off-canvas-content" data-off-canvas-content>
			<img id="header-img" src='/images/header.jpg' />

			<div data-sticky-container>
				<nav class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%"
					 data-sticky-on="small" data-top-anchor="header-img:bottom">
					<div class="top-bar-left">
						<button type="button" class="menu-icon hide-for-medium hide-for-large" style="color:black" data-toggle="offCanvas"></button>
						
						<ul class="dropdown menu show-for-medium" data-dropdown-menu>
							{% for link in navLinks %}
							<li class="{{ 'active' if link.key == section else '' }}">
								<a href="{{ link.href }}">{{ link.label }}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="top-bar-right social">
						<ul class="menu" data-dropdown-menu>
							<li>
								<a href='http://facebook.com' target='blank'>
									<img src='/images/social/Facebook.svg'>
								</a>
							</li>
							<li>
								<a href='http://instagram.com' target='blank'>
									<img src='/images/social/Instagram.svg'>
								</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>

			{# BODY #}
			<div id="body">
				{# NOTE:
				There is no .container wrapping class around body blocks to allow more flexibility in design.
				Remember to include it in your templates when you override the intro and content blocks! #}

				{# The Intro block appears above flash messages (used for temporary information display) #}
				{% block intro %}{% endblock %}

				{# Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc. #}
				{{ FM.flashMessages(messages) }}

				{# The content block should contain the body of your template"s content #}
				{% block content %}{% endblock %}
			</div>


			{# FOOTER #}
			<div id="footer" class="row">

				<div class="small-6 medium-4 large-3 columns">&copy; {{text.company}} 2017</div>
				<div class="small-6 medium-4 large-3 columns">Created by <a href='http://kenfehling.com' target="_blank">Ken Fehling</a></div>
				<div class="small-6 medium-4 large-3 columns">Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a></div>
				{% if user %}
				{% if user.canAccessKeystone %}
				<div class="small-6 medium-4 large-3 columns"><a href="/keystone">Administrator</a></div>
				{% endif %}
				<div class="small-6 medium-4 large-3 columns"><a href="/keystone/signout">Sign Out</a></div>
				{% else %}
				<div class="small-6 medium-4 large-3 columns"><a href="/keystone/signin">Sign In</a></div>
				{% endif %}

			</div>
		</div>

		{# JAVASCRIPT #}

	<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>

	<script>
		$(document).foundation();
	</script>

		{# The KeystoneJS Content Editor provides support for ks-editable data attributes,
			which generate links to edit content for users who can access Keystone #}
		{% if user and user.canAccessKeystone %}
			<script src="/keystone/js/content/editor.js"></script>
		{% endif %}

		{# Add scripts that are globally required by your site here. #}

		{# Include template-specific javascript files by extending the js block #}
		{% block js %}{% endblock %}
	</body>
</html>
