{% extends "layouts/default.html" %}

{% block intro %}
	<div class="row column">
		<h1>Gallery</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="row column">
		{% if galleries.length %}
			{% for gallery in galleries %}
				<h2>{{ gallery.name }}
					{% if gallery.publishedDate %}
						<span class="pull-right text-muted">{{ gallery._.publishedDate.format("Do MMM YYYY") }}</span>
					{% endif %}
				</h2>

				<div class="row gallery-images">
					<a href="gallery/{{ gallery.key }}">
						{% if gallery.heroImage._.image.exists %}
							<div class="col-sm-4 col-md-4 gallery-image">
								<img src="{{ gallery.heroImage._.image.limit(300,300) }}" class="img-rounded">
							</div>
						{% else %}
							<div>{{gallery.name}}}</div>
						{% endif %}
					</a>
				</div>
			{% endfor %}
		{% else %}
			<h3 class="text-muted">There are no image galleries yet.</h3>
		{% endif %}
	</div>
{% endblock %}
