@import "../site/variables";

$social-icon-size-small: 30px;
$social-icon-size-large: 34px;

nav {
  color: $topbar-font-color;
  opacity: $topbar-opacity;
  
  a {
	color: $topbar-font-color;
	&:hover, &:focus {
	  color: darken($topbar-font-color, 20%)
	}
  }
  .social {
	@media (max-width: 639px) {
	  a {
		padding: 0 0 0 0.4rem;
		img {
		  width: $social-icon-size-small;
		  height: $social-icon-size-small;
		}
	  }
	}
  	@media (min-width: 640px) {
	  a {
		padding: 1px 0.4rem 0 0.4em;
		img {
		  width: $social-icon-size-large;
		  height: $social-icon-size-large;
		}
	  }
	}
  }
}

#footer {
  margin-top: 30px;
  margin-bottom: 20px;
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
  color: #777777;
  text-align: center;
}
